// Body
$body-bg: #F1F3F4;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary100: #daf3ff;
$blue: #D5AC29;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #FFA800;
$green: #1BC5BD;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$secondary: #B5B5C3;
$white: #ffffff;
$gray100: $body-bg;
$gray300: #dee2e6;
$gray72: #727272;

